/* ЦЕЙ ДИЗАЙН ТІЛЬКИ ДЛЯ ТОГО ЩО БУДЕ В КОЖНІЙ СТОРІНЦІ ОДНАКОВЕ!!! */
/* Тобто це не дизайн однієї сторінки а УСІХ сторінок */
/* Тут може бути дизайн меню, футера (контактна інформація), і те що є
на кожній сторінці ОДИНАКОВЕ!!!! */

