.main-content {
    margin-left: 240px; 
    padding: 40px;
    background-color: #030303;
    min-height: 100vh;
}

h2 { font-size: 28px; margin-bottom: 24px; color: white; }

.t-main { font-weight: bold; font-size: 16px; margin-bottom: 4px; color: white; }
.t-sub { color: #aaa; font-size: 14px; }

.subs-list { display: flex; flex-direction: column; gap: 15px; }
.sub-item {
    display: flex; 
    align-items: center; 
    background: #111;
    padding: 10px 20px; 
    border-radius: 12px;
}
.avatar { width: 60px; height: 60px; border-radius: 50%; margin-right: 20px; object-fit: cover; }
.sub-info { flex-grow: 1; }
.sub-btn {
    background: transparent; 
    border: 1px solid #444;
    color: white; 
    padding: 8px 16px; 
    border-radius: 20px; 
    cursor: pointer;
}